# SERVER PORT
PORT=8000

# CLIENT
CLIENT_URL=

# MODE
NODE_ENV=development

# FRONTEND
FRONTEND_ADMIN_URL=

# DATABASE URL
DATABASE_URL=

# SECRET
JWT_SECRET=
JWT_REFRESH_SECRET=

# VERIFY SECRET
JWT_VERIFY_SECRET=

# SESSION
SESSION_SECRET=

# SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# R2 Cloudflare Object Storage
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=

# Google OAUTH2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=